body {
  background-color: #c9c9c9;
}
#page {
  background-color: #fcfcfc;
}
#page #header,
#page #footer {
  background-color: #969696;
}
#page #main #content {
  background-color: #dadada;
}
#page #main #sidebar-first {
  background-color: #ebebeb;
}
#page #main #sidebar-second {
  background-color: #daebda;
}
