/********************************************************************/
/* Grid Based on Semantic.gs 
/*
/********************************************************************/
/********************************************************************/
/* ! GRID Calculations
/********************************************************************/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body #header .first-tier-section,
body #footer .first-tier-section {
  margin: 0;
}
body .first-tier-section {
  margin: 0 20px;
}
/********************************************************************/
/* ! MEDIA QUERY GRIDS
/* Helper Function to set Drupal HTML as grid
/********************************************************************/
/**
 * Anything bigger than 787px
 */
@media only screen and (min-width: 787px) {
  #page #main #content {
    display: inline;
    float: left;
    width: 72.22222222222221%;
    padding: 0 1.3888888888888888%;
    margin: 0;
  }
  #page #main #sidebar-first,
  #page #main #sidebar-second {
    display: inline;
    float: left;
    width: 22.22222222222222%;
    padding: 0 1.3888888888888888%;
    margin: 0;
  }
}
/**
 * Anything between 381px and 786px
 */
@media screen and (max-width: 786px) {
  #page #main #content {
    display: inline;
    float: left;
    width: 97.22222222222221%;
    padding: 0 1.3888888888888888%;
    margin: 0;
  }
  #page #main #sidebar-first,
  #page #main #sidebar-second {
    display: inline;
    float: left;
    width: 97.22222222222221%;
    padding: 0 1.3888888888888888%;
    margin: 0;
  }
}
/**
 * Anything smaller than 380px
 */
@media screen and (max-width: 380px) {
  #page #main #content {
    display: inline;
    float: left;
    width: 97.22222222222221%;
    padding: 0 1.3888888888888888%;
    margin: 0;
  }
  #page #main #sidebar-first,
  #page #main #sidebar-second {
    display: inline;
    float: left;
    width: 97.22222222222221%;
    padding: 0 1.3888888888888888%;
    margin: 0;
  }
}
