@colorBackground: #c9c9c9;

body {
	background-color: @colorBackground;
}

#page {
	background-color: @colorBackground + #333;

  #header,
  #footer {
    background-color: @colorBackground - #333;
  }

  #main {
    
    #content {
      background-color: @colorBackground + #111;
    }
    
    #sidebar-first {
      background-color: @colorBackground + #222;
    }

    #sidebar-second {
      background-color: @colorBackground + #112211;
    }
  }
}
