/********************************************************************/
/* Grid Based on Semantic.gs 
/*
/********************************************************************/

// Defaults which you can freely override
@column-width: 60;
@gutter-width: 30;
@columns: 12;

@main-content: @columns - 3; // 12 (our colums above) - 3 = 9
@sidebar-second: @columns - 9; // 12 (our colums above) - 9 = 3
// TOTAL OF THESE TWO SHOULD BE EQUIL TO @columns

// Utility variable — you should never need to modify this
@gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

// Set @total-width to 100% for a fluid layout
// Set @total-width to @gridsystem-width for fixed layout
@total-width: 100%;

// Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
// @min-width: 960;
// @correction: 0.5 / @min-width * 100 * 1%;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

/********************************************************************/
/* ! GRID Calculations
/********************************************************************/

body {
	width: 100%;
  margin: 0;
  padding: 0;
  .clearfix;

  #header,
  #footer {
    .first-tier-section {
      margin: 0;
    }
  }

  .first-tier-section {
    margin: 0 20px;
  }
}
.row(@columns:@columns) {
	display: block;
	width: @total-width*((@gutter-width + @gridsystem-width)/@gridsystem-width);
	padding: 0 @total-width*(((@gutter-width*.5)/@gridsystem-width)*-1);
	margin: 0;
	.clearfix;
}
.column(@x,@columns:@columns) {
	display: inline;
	float: left;
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width);
	padding: 0 @total-width*((@gutter-width*.5)/@gridsystem-width);
	margin: 0;
}
.push(@offset:1) {
	margin-left: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);
}
.pull(@offset:1) {
	margin-right: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);
}

/********************************************************************/
/* ! MEDIA QUERY GRIDS
/* Helper Function to set Drupal HTML as grid
/********************************************************************/

.grid-main-wrapper(@content: @columns, @sidebar-second: @columns) {
  #main {
    #content {
      .column(@content);
    }
    #sidebar-first,
    #sidebar-second {
      .column(@sidebar-second);
    }
  }
}

/**
 * Anything bigger than 787px
 */
@media only screen and (min-width: 787px) {
  #page {
    .grid-main-wrapper(9,3);
  }
}


/**
 * Anything between 381px and 786px
 */
@media screen and (max-width: 786px) {
  #page {
    .grid-main-wrapper()
  }
}


/**
 * Anything smaller than 380px
 */
@media screen and (max-width: 380px) {
  #page {
    .grid-main-wrapper();
  }
}